/*@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

    body {
      font-family: 'Open Sans';
      font-size: 30px;
      color: white;
      background: orange !important;
    }
    h1, h2, h3 {
      font-family: 'Open Sans';
      font-weight: 400;
      margin-bottom: 0;
    }
    h1 {
      margin-top: 0;
      font-size: 3em;
      line-height: 1em;
      font-family: "Open Sans Condensed";
    }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.2em; }
    .footnote {
      position: absolute;
      bottom: 3em;
    }

    .punchline {
      float: right;
      color: rgba(255, 230, 121, 1);
    }

    li p { line-height: 1.25em; }
    .red { color: #fa0000; }
    .large { font-size: 2em; }
    a, a > code {
      color: rgba(249, 209, 38, 1);
      text-decoration: none;
    }
    .wite a {
      color: red;yy
    }
    code {
      padding: .3em;
      border-radius: 5px;
      background: #444;
      /*font-size: 24px;*/
    }
    code.unix {
      margin-top: 1em;
    }
    .pull-left {
      float: left;
      width: 47%;
    }
    .pull-right {
      float: right;
      width: 47%;
    }
    .pull-right ~ p {
      clear: both;
    }
    #slideshow .slide .content code {
      font-size: 0.8em;
    }
    #slideshow .slide .content pre code {
      font-size: 0.9em;
      padding: 15px;
    }

    .remark-slide .remark-slide-number {
      left: 1em;
      right: inherit;
      font-size: small;
    }
    .remark-slide-scaler {
      background-color: black;
    }
    .emoticon {
      position: absolute;
      right: 1em;
      bottom: .5em;
      font-size: 300%;
    }

    .remark-slide-content {
      background-position: top !important;
      /*background-image: url("../img/grey.png");*/
      background-size: 100%;
    }

    .white {
      background: white !important;
      color: black;
    }

    .inverse {
      background: #23241F;
      color: #777872;
      text-shadow: 0 0 20px #333;
    }
    .inverse h1, .inverse h2 {
      color: #f3f3f3;
      line-height: 0.8em;
    }

    pre {
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
    }

    .fakecode {
      padding: 0px;
      margin: 0;
      margin-top: -1em; /* compensate for newline */
      white-space: pre;
      font-family: monospace;
      font-size: smaller;
    }

    .fakecode a {
      color: rgba(246, 189, 140, 1);
      border-radius: 5px;
      padding: 5px;
      background: rgb(10,10,10);
    }
    .fakecode a:hover {
      text-decoration: underline;
    }

    .inverse strong {
      font-weight: normal;
      color: rgb(220,220,220);
    }

    .footer {
      text-align: right;
      line-height: 1em;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .footer_bl {
      position: fixed;
      right: 1em;
      bottom: 3em;
    }

    .url {
      font-family: monospace;
      color: rgba(249, 255, 18, 1);
    }
    .url:hover {
      text-decoration: underline;
    }
    .scale {
      background-size: 100%;
    }


    /* Slide-specific styling */

    #slide-title .mozilla {
      font-weight: 300;
      font-size: smaller;
      font-family: "Open Sans";
    }
    #slide-title .wordmark {
      font-weight: 600;
      font-family: "Open Sans";
      letter-spacing: -.04em;
    }

    #slide-recipe ol, #slide-advanced ol {
      font-size: xx-large;
      list-style: upper-latin;
    }


    #slide-inverse .footnote {
      bottom: 12px;
      left: 20px;
    }
    #slide-how .slides {
      font-size: 0.9em;
      position: absolute;
      top:  151px;
      right: 140px;
    }
    #slide-how .slides h3 {
      margin-top: 0.2em;
    }
    #slide-how .slides .first, #slide-how .slides .second {
      padding: 1px 20px;
      height: 90px;
      width: 120px;
      -moz-box-shadow: 0 0 10px #777;
      -webkit-box-shadow: 0 0 10px #777;
      box-shadow: 0 0 10px #777;
    }
    #slide-how .slides .first {
      background: #fff;
      position: absolute;
      top: 20%;
      left: 20%;
      z-index: 1;
    }
    #slide-how .slides .second {
      position: relative;
      background: #fff;
      z-index: 0;
    }

    #slide-last .fork {
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
    }

    #slide-flickr {
      background-image: url(../img/flickrcomp.png);
    }
    #slide-flickr2 {
      background-image: url(../img/flickrcomp.png);
    }


    /* Two-column layout */
    .left-column {
      color: #aaa;
      width: 25%;
      height: 92%;
      float: left;
      padding-top: 1em;
    }
      .left-column h2 {
        font-size: 1em;
      }

      .left-column h2:last-of-type, .left-column h3:last-child {
        color: #fff;
      }
    .right-column {
      width: 70%;
      float: right;
    }
    .right-column h2 {
      padding-top: .5em;
    }
    .right-column.progressive h2, .right-column.progressive h3, .right-column.progressive p {
      color: #aaa;
    }
    .right-column.progressive h2:last-of-type, .right-column.progressive h3:last-child, .right-column.progressive p:last-of-type {
      color: #fff !important;
    }
